@import url('https://fonts.googleapis.com/css?family=Alegreya:400,700|Comfortaa:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Krona+One');

$txtborder: 3px;

body {
    margin: 0 auto;
    padding: 0;
    font: 700 1.1em 'Comfortaa', cursive;

    header {
        text-align: center;
        text-transform: uppercase;
        position: relative;
        background-color: rgba(149, 229, 162, 0.616);
        .container {
            position: relative;
            height: 100vh;
            &::before {
                position: absolute;
                z-index: -2;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                content: "";
                background-image: url("https://image.ibb.co/k5ZAPx/bbb.jpg");        
                background-size: cover;
            }
            .container-text {
                padding-top: 15%;
                h1 {
                    font: 700 4.0em 'Krona One', sans-serif;
                    margin: 0;
                }
            }
        }
    }

    .about-us {
        text-align: center;
        height: 48vh;
        padding-top: 15px;
        font-size: 0.8em;
        margin: 15px 0;

        .section-border {
            margin: 30px 20vw;
            border-bottom: $txtborder solid;
            padding-bottom: 25px;
            position: relative;

            .borderTop-left {
                position: absolute;
                border-top: $txtborder solid;
                left: 0;
                right: 70%;
                top: 6%;
            }
            .borderTop-right {
                position: absolute;
                border-top: $txtborder solid;
                left: 70%;
                right: 0;
                top: 6%;
            }
            .borderSide-left {
                position: absolute;
                border-left: $txtborder solid;
                top: 6%;
                bottom: 0;
            }
            .borderSide-right {
                position: absolute;
                border-right: $txtborder solid;
                top: 6%;
                bottom: 0; 
                right: 0;
            }
            .section-header {
                text-transform: uppercase;
                font-size: 2.0em;
            }
        }
    }

    .services {
        @extend .about-us;
        background-color: rgba(149, 229, 162, 0.616);
        height: 38vh;
        margin-top: 0;
        .section-border {
            .borderTop-left {
                top: 8%;
            }
            .borderTop-right {
                top: 8%;
            }
            .borderSide-left {
                top: 8%;
            }
            .borderSide-right {
                top: 8%;
            }
            .section-header {
                text-transform: uppercase;
                font-size: 2.0em;
            }
        } 
    }

    .whatWeDo {
        @extend .about-us;
        height: 95vh;
        .section-border {
            .borderTop-left {
                top: 2.5%;
            }
            .borderTop-right {
                top: 2.5%;
            }
            .borderSide-left {
                top: 2.5%;
            }
            .borderSide-right {
                top: 2.5%;
            }
            .section-header {
                text-transform: uppercase;
                font-size: 2.0em;
            }
        }
        .whatWeDo-section {
            
            margin: 50px 0;
            .icon-area {
                min-height: 100px; 
                i {
                    font-size: 4.0em;
                    margin-bottom: 15px;
                    margin-top: 15px;
                    transition: 0.1s;
                }
            }
            h2 {
                font-size: 2.0em;
                background: #000;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;  
                transition: 0.5s;
            }

            &:hover {
                i {
                    font-size: 4.5em;
                    color: rgba(149, 229, 162, 0.616);   
                }
                h2 {
                    background: -webkit-linear-gradient( rgba(149, 229, 162, 0.616), #000);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;    
                }
            }
        }
    }
}